:root {
    --default: #333333;
    --primary: lemonchiffon;
    --white: #fff;
    --black: #000;
    --widthwrap: 1200px;
    --minheight: calc(100vh - 100px - 100px - 300px);
    --hdheigt: 100px;
    --ftheigt: 100px;
    --slideheigt: 300px;
    --swiper-theme-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    text-decoration: none;
    color: var(--default);
    list-style: none;
}

#wrap {
    display: flex;
    flex-direction: column;
    /* min-height: 100svh; */
}

#inner {
    display: flex;
    flex: 1;
}

#header {
    width: 200px;
    background-color: aliceblue;
}

#header .logo {
    height: 200px;
    text-align: center;
}

#header .logo a {
    display: block;
    height: 200px;
}

#header img {
    margin: 43px 0;
}

#header .gnb {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.gnb > ul > li > a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #9c9c9c;
}

.gnb > ul > li > a:hover {
    background-color: #9c9c9c;
}

.gnb > ul > li > ul {
    display: none;
}

.gnb > ul > li > ul > li > a {
    display: block;
    padding: 10px 15px;
}

.gnb > ul > li > ul > li > a:hover {
    background-color: #c0c0c0;
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#slide {
    display: flex;
    height: 400px;
}

#slide .image {
    position: relative;
    overflow: hidden;
    width: calc(100% - 230px);
}

.slider {
    width: 400%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#slide .s1 {
    background-image: url(../images/slide1.jpg);
}
#slide .s2 {
    background-image: url(../images/slide2.jpg);
}
#slide .s3 {
    background-image: url(../images/slide3.jpg);
}

.image ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 300%;
    height: 100%;
    transition: all 03s;
}

.image li {
    width: 100%;
}

.image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slide .banner {
    width: 230px;
}

.banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container {
    height: 250px;
    display: flex;
    gap: 30px;
}

#container .content {
    width: 50%;
    height: 250px;
    padding: 15px;
}

#container h2 {
    font-size: 20px;
    padding-bottom: 5px;
}

.list-bbs a {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.list-bbs span {
    display: block;
    overflow: hidden;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-gal {
    display: flex;
    justify-content: space-between;
}

.list-gal img {
    display: block;
    width: 100%;
    height: 70%;
}

#footer {
    display: flex;
    align-items: center;
    height: 100px;
}

#footer .footer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    background-color: azure;
}

.footer1 .logo {
    display: flex;
    justify-content: center;
}

.footer1 img {
    display: block;
    width: 50%;
    height: 50%;
    filter: grayscale(100%);
    opacity: 0.2;
}

#footer .footer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 200px - 230px);
    height: 100px;
    background-color: burlywood;
}

#footer .footer3 {
    width: 230px;
    height: 100px;
    background-color: cadetblue;
}

.family {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.family select {
    padding: 5px;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-box {
    position: relative;
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.modal-box strong {
    display: block;
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #9c9c9c;
}

.modal-box p {
    padding-top: 12px;
}

.modal-box button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}