* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
    color: #333;
}

.wrap {
    width: 100%;
}

.inner {
    width: 1200px;
    margin: auto;
}

.header {
    height: 100px;
}

.main {
    height: 500px;
}

.footer {
    height: 100px;
}